@{
    ViewData["Title"] = "Home Page";
    Layout = null;

    string poruka = (string)TempData["Poruka_Greška"];


    List<Lokacija>lokacije=(List<Lokacija>)ViewData["lokacije"];
}
<!DOCTYPE html>
<html>
    <head>
        <title>My Unique Nature</title>
        <link rel="icon" href="~/Pictures/LOGO.png"/>
        <link rel="stylesheet" href="~/css/Home/Index.css" />
        <link href="//db.onlinewebfonts.com/c/4345cc7507f909b38498d8cff0f6d2f4?family=The+Abandoned+Treasure" rel="stylesheet" type="text/css" />
        <script src="jquery-3.5.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="~/js/Home/Index.js"></script>

        <style>
            #box_registracija input{
                width:75%;
                margin-top:3%;
            }

            #box_registracija #dugme_registracija {
                position: relative;
                left: 23%;
                width: 30%;
                background-color: transparent;
                border: 1px solid white;
                font-family: "The Abandoned Treasure";
                color: white;
                text-align: center;
                font-size: 3vw;
                margin-top: 10%;
                cursor: pointer;
            }
            #box_registracija #dugme_nazad2 {
                position: relative;
                left: 23%;
                width: 30%;
                background-color: transparent;
                border: 1px solid white;
                font-family: "The Abandoned Treasure";
                color: white;
                text-align: center;
                font-size: 3vw;
                margin-top: 7.5%;
                cursor: pointer;
            }

            #box_registracija #dugme_registracija:hover, #box_registracija #dugme_nazad2:hover {
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                transition: all ease 0.5s;
                -moz-transition-delay: 3s;
                font-weight: bold;
                border: 5px solid gainsboro;
                opacity: 1;
            }

            ::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }

            #msg {
                position: absolute;
                left: 35vw;
                top: 2vw;
                color: white;
                background: black;
                width: 30vw;
                font-size: 4vw;
                text-align: center;
                box-shadow: 0px 0px 10px 10px white;
                opacity: 0.9;
            }

            #pass:focus, #id:focus, #ime:focus, #prezime:focus, #mail:focus, #psw:focus, #psw2:focus, #datum:focus{
                filter: invert(1);
            }

            #drzava {
                font-family: "The Abandoned Treasure";
                position: relative;
                background-color: rgba(0, 0, 0, 0);
                outline: none;
                border: 1px solid white;
                font-size: 2.5vw;
                width: 75%;
                text-align: center;
                margin-top: 4%;
                color: white;
                border-radius: 2vw;
                overflow: scroll;
                text-align-last: center;
            }
            #drzava:focus {
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                transition: all ease 0.5s;
                -moz-transition-delay: 3s;
                font-weight: bold;
                border: 5px solid gainsboro;
                opacity: 1;
                text-align-last: center;
                filter:invert(1);
            }
            .err {
                border: 2px solid rgb(255, 71, 71);
                /*background-color: palevioletred;*/
                color: white;
                box-shadow: 0px 0px 10px 10px rgb(255, 71, 71);
                transition: all ease 700ms;
            }
        </style>

    </head>
    <body>
        
        <div id="container">

            <img id="slika_podloga" src="~/Pictures/podloga.jpg">

            @if (poruka != null)
            {
                <span id="msg">@poruka</span>
                <script>
                    $("#msg").hide().fadeIn(1500).delay(3000).fadeOut(1500);                    
                </script>
            }

            <div id="left">
                <p class="glitch">
                    MY<br /> UNIQUE<br /> NA TURE
                </p>
            </div>

            <div id="right">
                <div id="box_pocetak">
                    <div id="prijava">Log In</div>
                    <div id="registracija">Sign Up</div>
                    <div id="gost">Guest</div>
                </div>
                <div id="box_prijava">

                    <input name="mail_username" id="id" type="text" placeholder="Username / Mail" autofocus />
                    <input name="pass" id="pass" type="password" placeholder="Password" /><br />
                    <div id="dugme_prijava">Log In</div>
                    <script>
                        $("#dugme_prijava").click(function () {
                            var m_u = document.getElementById("id").value;
                            var p = document.getElementById("pass").value;

                            window.location.href = "/Auth/AuthProcess?mail_username=" + m_u + "&&pass=" + p;

                            document.getElementById("id").value="";
                            document.getElementById("pass").value="";
                        });
                    </script>
                    <div id="dugme_nazad">Back</div>
                </div>

                <div id="box_registracija">
                    <input id="ime" type="text" placeholder="First Name" autofocus />
                    <input id="prezime" type="text" placeholder="Last Name" />
                    <input id="mail" type="text" placeholder="E-Mail" />
                    <input id="psw" type="password" placeholder="Password" />
                    <input id="psw2" type="password" placeholder="Confirm Password" />
                    <input id="datum" type="date" placeholder="Birth Date" />

                    <select id="drzava" name="drzava">
                        <option value="0">Country</option>
                        @foreach(var x in lokacije)
                        {
                            <option value="@x.LokacijaID">@x.Naziv</option>
                        }
                    </select>

                    @*<input id="drzava" type="text" placeholder="Country" /><br />*@
                    <div onclick="Check()" id="dugme_registracija">Sign Up</div>
                    <div id="dugme_nazad2">Back</div>
                </div>
            </div>
        </div>
        <script>

            function Check() {
                var prvi = drugi = treci = cetvrti = peti = sesti = sedmi = false;

                var ime = document.getElementById("ime").value;
                var prezime = document.getElementById("prezime").value;
                var mail = document.getElementById("mail").value;
                var password = document.getElementById("psw").value;
                var password2 = document.getElementById("psw2").value;
                var datum = document.getElementById("datum").value;
                var drzava = document.getElementById("drzava").value;

                if (ime == null || ime == "") {
                    document.getElementById("ime").classList.add("err");
                    prvi = false;
                }
                else {
                    document.getElementById("ime").classList.remove("err");
                    prvi = true;
                }

                if (prezime == null || prezime == "") {
                    document.getElementById("prezime").classList.add("err");
                    drugi = false;
                }
                else {
                    document.getElementById("prezime").classList.remove("err");
                    drugi = true;
                }
                if (mail == null || mail == "") {
                    document.getElementById("mail").classList.add("err");
                    treci = false;
                }
                else {
                    document.getElementById("mail").classList.remove("err");
                    treci = true;
                }
                if (password == null || password == "") {
                    document.getElementById("psw").classList.add("err");
                    cetvrti = false;
                }
                else {
                    document.getElementById("psw").classList.remove("err");
                    cetvrti = true;
                }
                if (password2 == null || password2 == "" || password != password2) {
                    document.getElementById("psw2").classList.add("err");
                    peti = false;
                }
                else {
                    document.getElementById("psw2").classList.remove("err");
                    peti = true;
                }
                if (datum == null || datum == "") {
                    document.getElementById("datum").classList.add("err");
                    sesti = false;
                }
                else {
                    document.getElementById("datum").classList.remove("err");
                    sesti = true;
                }
                if (drzava == 0) {
                    document.getElementById("drzava").classList.add("err");
                    sedmi = false;
                }
                else {
                    document.getElementById("drzava").classList.remove("err");
                    sedmi = true;
                }
                if (prvi && drugi && treci && cetvrti && peti && sesti && sedmi) {
                    window.location.href = "/Home/Register?ime="+ime+"&&prezime="+prezime+"&&mail="+mail+"&&password="+password+"&&datum="+datum+"&&lokacija="+drzava;
                }
            }

            $(document).ready(function () {
                $("#box_pocetak").show();
                $("#box_prijava").hide();
                $("#box_registracija").hide();

            });

            $("#dugme_nazad").click(function () {
                $("#box_prijava").fadeOut();
                $("#box_pocetak").delay(600).fadeIn();

                document.getElementById("id").value = "";
                document.getElementById("pass").value = "";
            });

            $("#dugme_nazad2").click(function () {
                $("#box_registracija").fadeOut();
                $("#box_pocetak").delay(600).fadeIn();

                document.getElementById("ime").value = "";
                document.getElementById("prezime").value = "";
                document.getElementById("mail").value = "";
                document.getElementById("psw").value = "";
                document.getElementById("psw2").value = "";
                document.getElementById("datum").value = "";

                document.getElementById("ime").classList.remove("err");
                document.getElementById("prezime").classList.remove("err");
                document.getElementById("mail").classList.remove("err");
                document.getElementById("psw").classList.remove("err");
                document.getElementById("psw2").classList.remove("err");
                document.getElementById("datum").classList.remove("err");
                document.getElementById("drzava").classList.remove("err");
            });

            $("#prijava").click(function () {
                $("#box_pocetak").fadeOut();
                $("#box_prijava").delay(600).fadeIn();
            });

            $("#registracija").click(function () {
                $("#box_pocetak").fadeOut();
                $("#box_registracija").delay(600).fadeIn();
            });

            $("#gost").click(function () {

                window.location.href = "/Guest/Home/Index";
            });

        </script>


    </body>
</html>