@using MyUniqueNature.Models;
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 align="cnter">ADMIN</h1>

<br />
<br />

<table class="table-striped">
    <tr>
        <td>
            <label>Lokacije</label>
        </td>
        <td>
            <a class="btn btn-primary" href="/Admin/Lokacija/Index">Prikaz</a>
        </td>
    </tr>
    <tr>
        <td>
            <label>Uloge</label>
        </td>
        <td>
            <a class="btn btn-primary" href="/Admin/Uloga/Index">Prikaz</a>
        </td>
    </tr>
    <tr>
        <td>
            <label>Korisnici</label>
        </td>
        <td>
            <a class="btn btn-primary" href="/Admin/Korisnik/Index">Prikaz</a>
        </td>
    </tr>
</table>